<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer">
    <footer>
        <div class="container">
            <p>&copy; 2025 My E-commerce Store. All rights reserved.</p>
            <ul class="social">
                <li><a href="#"><img src="/images/facebook.png" alt="Facebook"></a></li>
                <li><a href="#"><img src="/images/twitter.png" alt="Twitter"></a></li>
                <li><a href="#"><img src="/images/instagram.png" alt="Instagram"></a></li>
            </ul>
        </div>
    </footer>
</div>
</body>
</html>
