<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>About Us - My E-commerce Store</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<main class="container">
    <h1>About Us</h1>
    <p>Learn more about our company, our mission, and our values. We are dedicated to providing the best products for our customers.</p>
</main>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>
